<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.3, maximum-scale=1.3" />
    <title>VIsion VAlley</title>
   <!-- FAVS -->
    <link rel="apple-touch-icon" sizes="57x57" href="/public/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/public/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/public/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/public/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/public/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/public/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/public/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/public/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/public/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/public/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/img/favicon-16x16.png">
   <!-- <link rel="manifest" href="/manifest.json">-->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/public/img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- CSS  -->
    <link href="/public/css/icon.css" rel="stylesheet">
    <link href="/public/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/public/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/public/css/app.css" type="text/css" rel="stylesheet"/>
    <link href="/public/css/video-js.min.css" rel="stylesheet">
    
    <link href="/public/css/welcome_page/styles.css" type="text/css" rel="stylesheet"/>
    <link href="/public/css/crow_event_detection/styles.css" type="text/css" rel="stylesheet"/>
    <link href="/public/css/face_mask_detector/styles.css" type="text/css" rel="stylesheet"/>
    <link href="/public/css/social_distance_monitor/styles.css" type="text/css" rel="stylesheet"/>
        
</head>

<body oncontextmenu="return false;">
    <header>
      <!-- display 3 (Rectangle) -->
      <div id="u3" class="ax_default display_3" data-label="display 3">
        <img id="u3_img" class="img " src="public/img/welcome_page/display_3_u3.svg"/>
        <div id="u3_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <a href="/">
        <div id="u46" class="ax_default image">
        <img id="u46_img" class="img " src="public/img/welcome_page/u46.png"/>
          <div id="u46_text" class="text " style="display:none; visibility: hidden">
          <p></p>
          </div>
        </div>
      </a>
      
      <div id="u4" class="ax_default display_3" data-label="display 3">
        <div id="u4_div" class=""></div>
        <div id="u4_text" class="text ">
          <p><span style="font-family:'MuktaMahee-SemiBold', 'Mukta Mahee SemiBold', 'Mukta Mahee', sans-serif;font-weight:650;color:#FFFFFF;">VI</span><span style="font-family:'MuktaMahee-ExtraLight', 'Mukta Mahee ExtraLight', 'Mukta Mahee', sans-serif;font-weight:100;color:#FFFFFF;">sion </span><span style="font-family:'MuktaMahee-SemiBold', 'Mukta Mahee SemiBold', 'Mukta Mahee', sans-serif;font-weight:650;color:#00FFFF;">VA</span><span style="font-family:'MuktaMahee-ExtraLight', 'Mukta Mahee ExtraLight', 'Mukta Mahee', sans-serif;font-weight:100;color:#FFFFFF;">lley</span></p>
        </div>
      </div>

    </header>
    <main>
        <!-- <div class="container"> -->
        <div class="section">
            <!--   Icon Section   -->
            <div class="row">
 					{{{ body }}}
            </div>

        </div>
       
    </main>


</body>

</html>

<script src="public/js/jquery-2.1.1.min.js"></script>
<script src="public/js/mqtt.min.js"></script>
<script src="public/js/mqtt.openvino.js"></script>
<script src="public/js/materialize.js"></script>
<script src="public/js/conf.js"></script>
<script src="public/js/Chart.min.js"></script>
<script src="public/js/initPeople.js"></script>
<script src="public/js/initMask.js"></script>
<script src="public/js/initDistance.js"></script>
<script src="public/js/jquery-3.2.1.min.js"></script>
<script src="public/js/axure/axQuery.js"></script>
<script src="public/js/axure/globals.js"></script>
<script src="public/js/axutils.js"></script>
<script src="public/js/axure/annotation.js"></script>
<script src="public/js/axure/axQuery.std.js"></script>
<script src="public/js/axure/doc.js"></script>
<script src="public/js/messagecenter.js"></script>
<script src="public/js/axure/events.js"></script>
<script src="public/js/axure/recording.js"></script>
<script src="public/js/axure/action.js"></script>
<script src="public/js/axure/expr.js"></script>
<script src="public/js/axure/geometry.js"></script>
<script src="public/js/axure/flyout.js"></script>
<script src="public/js/axure/model.js"></script>
<script src="public/js/axure/repeater.js"></script>
<script src="public/js/axure/sto.js"></script>
<script src="public/js/axure/utils.temp.js"></script>
<script src="public/js/axure/variables.js"></script>
<script src="public/js/axure/drag.js"></script>
<script src="public/js/axure/move.js"></script>
<script src="public/js/axure/visibility.js"></script>
<script src="public/js/axure/style.js"></script>
<script src="public/js/axure/adaptive.js"></script>
<script src="public/js/axure/tree.js"></script>
<script src="public/js/axure/init.temp.js"></script>
<script src="public/js/axure/legacy.js"></script>
<script src="public/js/axure/viewer.js"></script>
<script src="public/js/axure/math.js"></script>
<script src="public/js/axure/jquery.nicescroll.min.js"></script>
<script src="public/js/axure/ios.js"></script>
<script src="public/js/video.min.js"></script>
<script src="public/js/video.js"></script>
<script src="public/js/videojs-contrib-hls.min.js"></script>
<script src="https://unpkg.com/videojs-flash/dist/videojs-flash.js"></script>





