<div id="base" class="">

      <!-- Unnamed (Image) -->
      <div id="u222" class="ax_default image">
          <script src="public/js/video.min.js"></script>
          <script src="public/js/video.js"></script>
          <script src="public/js/videojs-contrib-hls.min.js"></script>
          <script src="https://unpkg.com/videojs-flash/dist/videojs-flash.js"></script>
          <video id="gprdimageMask" width=600 height=300 class="video-js vjs-default-skin" controls poster= 'public/img/crow_event_detection/u139.png'>          
            <source
                src=#{config.CONF.VIDEO_FEED_MASK}
                type="application/x-mpegURL">
          </video>
          <script>
              var player = videojs('gprdimageMask');
              player.play();
          </script>
          <p></p>
        </div>

      <!-- card background (Rectangle) -->
      <div id="u225" class="ax_default shape disabled" data-label="card background">
        <img id="u225_img" class="img " src="public/img/crow_event_detection/card_background_u134.svg"/>
        <div id="u225_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u227" class="ax_default image">
        <img id="u227_img" class="img " src="public/img/welcome_page/u86.png"/>
        <div id="u227_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- display 1 (Rectangle) -->
      <div id="u228" class="ax_default display_1" data-label="display 1">
        <div id="u228_div" class=""></div>
        <div id="u228_text" class="text ">
          <p><span>Analytics</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u229" class="ax_default box_1">
        <img id="u229_img" class="img " src="public/img/welcome_page/u120.svg"/>
        <div id="u229_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- display 1 (Rectangle) -->
      <div id="u230" class="ax_default display_1" data-label="display 1">
        <div id="u230_div" class=""></div>
        <div id="u230_text" class="text ">
          <p><span>Video details</span></p>
        </div>
      </div>

      <!-- display 1 (Rectangle) -->
      <div id="u231" class="ax_default display_1" data-label="display 1">
        <div id="u231_div" class=""></div>
        <div id="u231_text" class="text ">
          <p><span>FPS</span></p>
        </div>
      </div>

      <!-- display 1 (Rectangle) -->
      <div id="u232" class="ax_default display_1" data-label="display 1">
        <div id="u232_div" class=""></div>
        <div id="u232_text" class="text ">
          <p><span>Resolution</span></p>
        </div>
      </div>

      <!-- display 1 (Rectangle) -->
      <div id="u233" class="ax_default display_1" data-label="display 1">
        <div id="u233_div" class=""></div>
        <div id="u233_text" class="text ">
          <p><span>Inference Time</span></p>
        </div>
      </div>

      <!-- display 1 (Rectangle) -->
      <div id="u234" class="ax_default display_1" data-label="display 1">
        <div id="u234_div" class=""></div>
        <div id="u234_text" class="text ">
          <p><span>FACE MASK DETECTOR</span></p>
        </div>
      </div>

      <!-- display 1 (Rectangle) -->
      <div id="u235" class="ax_default display_1" data-label="display 1">
        <div id="u235_div" class=""></div>
        <div id="u235_text" class="text ">
          <p><span>People with Face Masks</span></p>
        </div>
      </div>

      <!-- display 1 (Rectangle) -->
      <div id="u236" class="ax_default display_1" data-label="display 1">
        <div id="u236_div" class=""></div>
        <div id="u236_text" class="text ">
          <p id= 'numberMask'>4</p>
        </div>
      </div>

      <!-- display 1 (Rectangle) -->
      <div id="u237" class="ax_default display_1" data-label="display 1">
        <div id="u237_div" class=""></div>
        <div id="u237_text" class="text ">
          <p><span>People without Face Masks</span></p>
        </div>
      </div>

      <!-- display 1 (Rectangle) -->
      <div id="u238" class="ax_default display_1" data-label="display 1">
        <div id="u238_div" class=""></div>
        <div id="u238_text" class="text ">
          <p id= 'numberNoMask'>1</p>
        </div>
      </div>

      <!-- display 1 (Rectangle) -->
      <div id="u239" class="ax_default display_1" data-label="display 1">
        <div id="u239_div" class=""></div>
        <div id="u239_text" class="text ">
          <p><span>Adoption Rate</span></p>
        </div>
      </div>

      <!-- display 1 (Rectangle) -->
      <div id="u240" class="ax_default display_1" data-label="display 1">
        <div id="u240_div" class=""></div>
        <div id="u240_text" class="text ">
          <p id= 'adoption_rate'>80%</p>
        </div>
      </div>

      <!-- display 1 (Rectangle) -->
      <div id="u241" class="ax_default display_1" data-label="display 1">
        <div id="u241_div" class=""></div>
        <div id="u241_text" class="text ">
          <p><span>People in Risk</span></p>
        </div>
      </div>

      <!-- display 1 (Rectangle) -->
      <div id="u242" class="ax_default display_1" data-label="display 1">
        <div id="u242_div" class=""></div>
        <div id="u242_text" class="text ">
          <p><span>1</span></p>
        </div>
      </div>

      <!-- display 1 (Rectangle) -->
      <div id="u243" class="ax_default display_1" data-label="display 1">
        <div id="u243_div" class=""></div>
        <div id="u243_text" class="text ">
          <p><span>Threshold</span></p>
        </div>
      </div>

      <!-- display 1 (Rectangle) -->
      <div id="u244" class="ax_default display_1" data-label="display 1">
        <div id="u244_div" class=""></div>
        <div id="u244_text" class="text ">
          <p><span>Social Distancing</span></p>
        </div>
      </div>

      <!-- Input Stepper (Group) -->
      <div id="u245" class="ax_default" data-label="Input Stepper" data-left="360" data-top="696" data-width="210" data-height="53">

        <!-- stepper input (Text Field) -->
        <div id="u246" class="ax_default text_field1" data-label="stepper input">
          <div id="u246_div" class=""></div>
          <input id="u246_input" type="text" value="" class="u246_input"/>
        </div>

        <!-- down (Shape) -->
        <div id="u247" class="ax_default icon" data-label="down">
          <img id="u247_img" class="img " src="public/img/social_distance_monitor/down_u201.svg"/>
          <div id="u247_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- up (Shape) -->
        <div id="u248" class="ax_default icon" data-label="up">
          <img id="u248_img" class="img " src="public/img/social_distance_monitor/up_u202.svg"/>
          <div id="u248_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
      </div>

      <!-- display 1 (Rectangle) -->
      <div id="u249" class="ax_default display_1" data-label="display 1">
        <div id="u249_div" class=""></div>
        <div id="u249_text" class="text ">
          <p id= 'fps_m'>0</p>
        </div>
      </div>

      <!-- display 1 (Rectangle) -->
      <div id="u250" class="ax_default display_1" data-label="display 1">
        <div id="u250_div" class=""></div>
        <div id="u250_text" class="text ">
          <p id= 'resolucion_m'>0x0</p>
        </div>
      </div>

      <!-- display 1 (Rectangle) -->
      <div id="u251" class="ax_default display_1" data-label="display 1">
        <div id="u251_div" class=""></div>
        <div id="u251_text" class="text ">
          <p id= 'inferencia_m'>0ms</p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u252" class="ax_default box_1">
        <img id="u252_img" class="img " src="public/img/crow_event_detection/u155.svg"/>
        <div id="u252_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u253" class="ax_default box_1">
        <img id="u253_img" class="img " src="public/img/crow_event_detection/u155.svg"/>
        <div id="u253_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u254" class="ax_default box_1">
        <img id="u254_img" class="img " src="public/img/crow_event_detection/u157.svg"/>
        <div id="u254_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- btn primary (Rectangle) -->
      <div id="u259" class="ax_default shape" data-label="btn primary">
        <img id="u259_img" class="img " src="public/img/crow_event_detection/btn_primary_u167.svg"/>
        <div id="u259_text" class="text ">
          <p><span>One</span><span> Click</span></p>
        </div>
      </div>

      <!-- btn primary (Rectangle) -->
      <div id="u260" class="ax_default shape" data-label="btn primary">
        <img id="u260_img" class="img " src="public/img/crow_event_detection/btn_primary_u168.svg"/>
        <div id="u260_text" class="text ">
          <p><span>One</span><span> Place</span></p>
        </div>
      </div>

      <!-- btn primary (Rectangle) -->
      <div id="u261" class="ax_default shape" data-label="btn primary">
        <img id="u261_img" class="img " src="public/img/crow_event_detection/btn_primary_u169.svg"/>
        <div id="u261_text" class="text ">
          <p><span>One</span><span> Integration</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u262" class="ax_default box_1">
        <img id="u262_img" class="img " src="public/img/crow_event_detection/u170.svg"/>
        <div id="u262_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u263" class="ax_default box_1">
        <img id="u263_img" class="img " src="public/img/crow_event_detection/u170.svg"/>
        <div id="u263_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
    </div>
